/* 

colors:
- green: #1aff80
- blue:  #2ecfff
- amber: #ffb642
- white: #c0ffff

*/

@font-face {
    font-family: 'fsex300';
    src: url('../fonts/fsex300.woff2') format('woff2'), url('../fonts/fsex300.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    unicode-range: U+0020-007F;
}

/*:root {
    --color: aqua;
}*/

html {
    height: 100%;
    overflow: hidden;
    font: 16px fsex300;
}

body {
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(0,0,0,.8) 0%, rgba(0,0,0,.8) 100%);
    
    color: #1aff80;
    background-color: #1aff80;
}

a {
    text-decoration: none;
    font-size: 16px;
    color: inherit
}

button {
    font: 16px fsex300;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    text-align: left;
    color: inherit;
}

button:focus, a:focus {
    outline: none;
}

#header .os, #header .copyright, #header .server {
    font-size: 16px;
    font-weight: 400;
}

#header .server:before, #header .server:after {
    content: "-";
}

.description {
    font-size: 16px;
    display: inline-block;
    margin: 0;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    
    border-bottom-color: #1aff80;
}

.list {
    display: block;
    width: 100%;
}

.list .item {
    display: block;
    width: 100%;
    height: 16px;        /* prevents applied :focus from squishing the automatic height */
    margin: 2px 0;
    color: inherit;
}

.list .item.selected * {
    display: block;
    width: 100%;
    color: rgba(0,0,0,.8);
    background-color: inherit;
}

.feedback {
    font-size: 16px;
}