:root {
/*    --color: aqua;*/
}

html {
    height: 100%;
}

body {
    height: 100%;
    color: var(--color);
    background: linear-gradient(to bottom, rgba(0,0,0,.8) 0%, rgba(0,0,0,.8) 100%), var(--color);
}

a {
    color: var(--color);
    text-decoration: none;
}

button {
    background: none;
    border: none;
    color: var(--color);
    padding: 0;
    cursor: pointer;
    text-align: left;
}

button:focus, a:focus {
    outline: none;
}

#header .os, #header .copyright, #header .server {
    font-size: 16px;
    font-weight: 400;
}

#header .server:before, #header .server:after {
    content: "-";
}

.description {
    display: inline-block;
    border-bottom: 1px solid var(--color);
    margin: 0;
}

.list {
    display: block;
    width: 100%;
}

.list .item {
    display: block;
    width: 100%;
    height: 16px;        /* prevents applied :focus from squishing the automatic height */
    margin: 2px 0;
}

.list .item.selected * {
    display: block;
    width: 100%;
    background: var(--color);
    color: rgba(0,0,0,.8);
}