/* 

colors:
- green: #1aff80
- blue:  #2ecfff
- amber: #ffb642
- white: #c0ffff

*/

@font-face {
    font-family: 'fsex300';
    src: url('../fonts/fsex300.woff2') format('woff2'), url('../fonts/fsex300.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*:root {
    --color: aqua;
}*/

html {
    height: 100%;
    overflow: hidden;
    font: 16px fsex300;
}

body {
    height: 100%;
/*    color: var(--color);*/
/*    background: linear-gradient(to bottom, rgba(0,0,0,.8) 0%, rgba(0,0,0,.8) 100%), var(--color);*/
}

.green {
    color: #1aff80;
    background: linear-gradient(to bottom, rgba(0,0,0,.8) 0%, rgba(0,0,0,.8) 100%), #1aff80;
}
.blue {
    color: #2ecfff;
    background: linear-gradient(to bottom, rgba(0,0,0,.8) 0%, rgba(0,0,0,.8) 100%), #2ecfff;
}
.amber {
    color: #ffb642;
    background: linear-gradient(to bottom, rgba(0,0,0,.8) 0%, rgba(0,0,0,.8) 100%), #ffb642;
}
.white {
    color: #c0ffff;
    background: linear-gradient(to bottom, rgba(0,0,0,.8) 0%, rgba(0,0,0,.8) 100%), #c0ffff;
}

a {
/*    color: var(--color);*/
    text-decoration: none;
    font-size: 16px;
}

.green a {
    color: #1aff80;
}
.blue a {
    color: #2ecfff;
}
.amber a {
    color: #ffb642;
}
.white a {
    color: #c0ffff;
}

button {
    font: 16px fsex300;
    background: none;
    border: none;
/*    color: var(--color);*/
    padding: 0;
    cursor: pointer;
    text-align: left;
}

.green button {
    color: #1aff80;
}
.blue button {
    color: #2ecfff;
}
.amber button {
    color: #ffb642;
}
.white button {
    color: #c0ffff;
}

button:focus, a:focus {
    outline: none;
}

#header .os, #header .copyright, #header .server {
    font-size: 16px;
    font-weight: 400;
}

#header .server:before, #header .server:after {
    content: "-";
}

.description {
    font-size: 16px;
    display: inline-block;
/*    border-bottom: 1px solid var(--color);*/
    margin: 0;
}

.green .description {
    border-bottom: 1px solid #1aff80;
}
.blue .description {
    border-bottom: 1px solid #2ecfff;
}
.amber .description {
    border-bottom: 1px solid #ffb642;
}
.white .description {
    border-bottom: 1px solid #c0ffff;
}

.list {
    display: block;
    width: 100%;
}

.list .item {
    display: block;
    width: 100%;
    height: 16px;        /* prevents applied :focus from squishing the automatic height */
    margin: 2px 0;
}

.list .item.selected * {
    display: block;
    width: 100%;
/*    background: var(--color);*/
    color: rgba(0,0,0,.8);
}

.green .list .item.selected * {
    background: #1aff80;
}
.blue .list .item.selected * {
    background: #2ecfff;
}
.amber .list .item.selected * {
    background: #ffb642;
}
.white .list .item.selected * {
    background: #c0ffff;
}

.feedback {
    font-size: 16px;
}